# Ignora todos los archivos con los siguientes formatos
*.exe
*.pdb
*.lib
*.idb
*.dll
*.exp
*.log
*.vcxproj.user

# Ignora los siguientes directorios
.vs
temp
lib

# Ignora todas los directorios que se llamen 'build'
build/

# No ignora
!cmake.exe
